<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <virtualType name="MARRSO_DeliveryScheduler_Logger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="name" xsi:type="string">marrso_delivery_scheduler</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">MARRSO_DeliveryScheduler_Logger_Handler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="MARRSO_DeliveryScheduler_Logger_Handler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
            <argument name="fileName" xsi:type="string">var/log/marrso_delivery_scheduler.log</argument>
        </arguments>
    </virtualType>

    <preference for="MARRSO\DeliveryScheduler\Api\Data\PickupLocationInterface"
                type="MARRSO\DeliveryScheduler\Model\PickupLocation"/>
    <preference for="MARRSO\DeliveryScheduler\Api\PickupLocationRepositoryInterface"
                type="MARRSO\DeliveryScheduler\Model\Repository\PickupLocationRepository"/>

    <preference for="MARRSO\DeliveryScheduler\Api\Data\DeliverySlotInterface"
                type="MARRSO\DeliveryScheduler\Model\DeliverySlot"/>
    <preference for="MARRSO\DeliveryScheduler\Api\DeliverySlotRepositoryInterface"
                type="MARRSO\DeliveryScheduler\Model\Repository\DeliverySlotRepository"/>

    <preference for="MARRSO\DeliveryScheduler\Api\Data\PickupSlotInterface"
                type="MARRSO\DeliveryScheduler\Model\PickupSlot"/>
    <preference for="MARRSO\DeliveryScheduler\Api\PickupSlotRepositoryInterface"
                type="MARRSO\DeliveryScheduler\Model\Repository\PickupSlotRepository"/>

    <preference for="MARRSO\DeliveryScheduler\Api\Data\HolidayInterface"
                type="MARRSO\DeliveryScheduler\Model\Holiday"/>
    <preference for="MARRSO\DeliveryScheduler\Api\HolidayRepositoryInterface"
                type="MARRSO\DeliveryScheduler\Model\Repository\HolidayRepository"/>

    <preference for="MARRSO\DeliveryScheduler\Api\Data\OrderDeliveryScheduleInterface"
                type="MARRSO\DeliveryScheduler\Model\OrderDeliverySchedule"/>
    <preference for="MARRSO\DeliveryScheduler\Api\OrderDeliveryScheduleRepositoryInterface"
                type="MARRSO\DeliveryScheduler\Model\Repository\OrderDeliveryScheduleRepository"/>

    <preference for="MARRSO\DeliveryScheduler\Api\GetPickupLocationsInterface"
                type="MARRSO\DeliveryScheduler\Model\Service\GetPickupLocations"/>
    <preference for="MARRSO\DeliveryScheduler\Api\GetDeliverySlotsInterface"
                type="MARRSO\DeliveryScheduler\Model\Service\GetDeliverySlots"/>
    <preference for="MARRSO\DeliveryScheduler\Api\SaveDeliverySelectionInterface"
                type="MARRSO\DeliveryScheduler\Model\Service\SaveDeliverySelection"/>

    <type name="MARRSO\DeliveryScheduler\Model\Service\AvailabilityEngine">
        <arguments>
            <argument name="logger" xsi:type="object">MARRSO_DeliveryScheduler_Logger</argument>
        </arguments>
    </type>

    <type name="MARRSO\DeliveryScheduler\Model\Service\DistanceCalculator">
        <arguments>
            <argument name="logger" xsi:type="object">MARRSO_DeliveryScheduler_Logger</argument>
        </arguments>
    </type>

    <type name="MARRSO\DeliveryScheduler\Cron\GenerateSlots">
        <arguments>
            <argument name="logger" xsi:type="object">MARRSO_DeliveryScheduler_Logger</argument>
        </arguments>
    </type>

    <type name="MARRSO\DeliveryScheduler\Observer\QuoteSubmitObserver">
        <arguments>
            <argument name="logger" xsi:type="object">MARRSO_DeliveryScheduler_Logger</argument>
        </arguments>
    </type>

    <type name="MARRSO\DeliveryScheduler\Model\Service\SaveDeliverySelection">
        <arguments>
            <argument name="logger" xsi:type="object">MARRSO_DeliveryScheduler_Logger</argument>
        </arguments>
    </type>

    <type name="Magento\Quote\Model\Quote\Address\ToOrderAddress">
        <plugin name="marrso_copy_delivery_attributes_to_order"
                type="MARRSO\DeliveryScheduler\Plugin\Quote\CopyDeliveryAttributesToOrder"/>
    </type>

    <type name="Magento\Checkout\Model\ShippingInformationManagement">
        <plugin name="marrso_save_delivery_attributes_on_shipping_information"
                type="MARRSO\DeliveryScheduler\Plugin\Checkout\SaveDeliveryAttributesOnShippingInformation"/>
    </type>

    <type name="MARRSO\DeliveryScheduler\Model\Repository\DeliverySlotRepository">
        <plugin name="marrso_invalidate_availability_cache"
                type="MARRSO\DeliveryScheduler\Plugin\Repository\InvalidateAvailabilityCachePlugin"/>
    </type>

    <type name="MARRSO\DeliveryScheduler\Model\Repository\PickupSlotRepository">
        <plugin name="marrso_invalidate_availability_cache"
                type="MARRSO\DeliveryScheduler\Plugin\Repository\InvalidateAvailabilityCachePlugin"/>
    </type>

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="marrso_delivery_seed_demo" xsi:type="object">MARRSO\DeliveryScheduler\Console\Command\SeedDemoDataCommand</item>
            </argument>
        </arguments>
    </type>

</config>
